<div class="page-header text-center">
    <h1>{{foto.titulo}}</h1>
</div>

<!-- Se houver alguma mensagem no $scope.mensagem então mensagem > 0 é exibida pelo ng-show -->
<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
<!-- novalidate - Desabilita a validação padrão do HTML5 **OBS colocar no pai -->
<form name="formulario" class="row" ng-submit="submeter()" novalidate>
    <div class="col-md-6">
        <div class="form-group">
            <label>Título</label>
            <input ng-model="foto.titulo" name="titulo" class="form-control" required ng-maxlength="20">
            <!-- ng-show - Exibe conteudo ao qual pertence caso a condição seja true-->
            <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">
                Titulo obrigatório
            </span>
            <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
                Insira no máximo 20 caracteres
            </span>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input ng-model="foto.url" name="url" class="form-control">
            <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">
                Url obrigatória
            </span>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea ng-model="foto.descricao" name="descricao" class="form-control">
            </textarea>
        </div>
        <div class="form-group">
            <label>Grupo</label>
            <!-- ng-options é montado com o id do grupo(mas aparece o nome para o usuario)-->
            <select name="grupo" class="form-control" required ng-controller="GruposController" ng-model="foto.grupo" ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
                <option value="">Selecione uma opção...</option>
            </select>
            <span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
                A seleção de um grupo é obrigatória
            </span>
        </div>
        <!-- ng-disabled - Se o formulario é inválido desabilita o botão -->
        <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
            Salvar
        </button>
        <a href="/" class="btn btn-primary" meu-focus>Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-foto url="{{foto.url}}"></minha-foto>
    </div>
</form>