<div class="jumbotron">
	<h1 class="text-center">Fotas</h1>
</div>

<p class="alert alert-info" ng-show="mensagem.length">{{mensagem}}</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="fotos/new" class="btn btn-primary">Nova Foto</a>
				</span>
				<input class="form-control" placeholder="filtrar pelo título da foto" ng-model="filtro" ng-model-options="{ debounce: 500 }">
			</div>
		</form>
	</div>
	<!-- fim col-md-12 -->
</div>
<!-- fim row -->

<div class="row">
	<meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
		<!-- <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}"> -->
		<minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
		<a href="fotos/edit/{{foto._id}}" class="btn btn-primary btn-block m-0 p-0">Editar</a>
		<button ng-click="remover(foto)" class="btn btn-danger btn-block m-0 p-0">Remover</button>
		<!-- <meu-botao-perigo acao="remover(foto)" nome="Remover"></meu-botao-perigo> -->
	</meu-painel>
</div>
<!-- fim row -->